# Python
__pycache__/
*.py[cod]
*.pyc

# IDE
.idea/
.vscode/
*.iml

# 虚拟环境
venv/
.venv/
env/
ENV/

# 模型和数据大文件（按需）
*.pkl
*.pth
*.bin
*.h5
*.npy
*.pt
*.ckpt
.onnx
.data

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/


# ==============================
# Python build
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary
# ==============================
*.tmp
*.temp

# ==============================
# Gridio
# ==============================
.gradio/


# ==============================
# Model
# ==============================
bert-base-chinese/